In [41]:
import pandas as pd
import numpy as np
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import StandardScaler

In [28]:
# Overview of the Dataframe
df = pd.read_csv('wine.data', header=None, names=["Wine","Alcohol","Malicacid","Ash","Alcalinity_of_ash","Magnesium","Total_phenols",
                                         "Flavanoids","Nonflavanoids_phenols","Proanth","Color_intensity",
                                         "Hue","OD","Proline"])
df.head()

,Wine,Alcohol,Malicacid,Ash,Alcalinity_of_ash,Magnesium,Total_phenols,Flavanoids,Nonflavanoids_phenols,Proanth,Color_intensity,Hue,OD,Proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [24]:
# Informations of the Dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Wine                   178 non-null    int64
 1   Alcohol                178 non-null    float64
 2   Malicacid              178 non-null    float64
 3   Ash                    178 non-null    float64
 4   Alcalinity_of_ash      178 non-null    float64
 5   Magnesium              178 non-null    int64
 6   Total_phenols          178 non-null    float64
 7   Flavanoids             178 non-null    float64
 8   Nonflavanoids_phenols  178 non-null    float64
 9   Proanth                178 non-null    float64
 10  Color_intensity        178 non-null    float64
 11  Hue                    178 non-null    float64
 12  OD                     178 non-null    float64
 13  Proline                178 non-null    int64
dtypes: float64(11), int64(3)
memory usage: 19.6 KB

In [25]:
# Features & Target

features = df.drop('Wine', axis=1)
target = df['Wine']

In [26]:
# Train Test Split
X_train, X_test, y_train,y_test = train_test_split(features, target, test_size=0.2)

In [29]:
# Standardisation
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [39]:
# Model with default parameters
model = SVC(gamma=0.01, kernel='poly')
model.fit(X_train_scaled,y_train)
y_pred = model.predict(X_test_scaled)

In [40]:
# Results
print("Score train :" , model.score(X_train_scaled, y_train))
print("Score test :" , model.score(X_test_scaled, y_test))

# Confusion matrix
pd.crosstab(y_test, y_pred, rownames=['Reality'], colnames=['Prediction'])

Score train : 0.4154929577464789
Score test : 0.3333333333333333

Prediction   2
Reality
1           11
2           12
3           13

In [51]:
# Optimisation with bests parameters research

parameters = {'C':[0.1,1,10],
              'kernel':['rbf','linear','poly'],
              'gamma':[0.001,0.1,0.5]}

model = SVC()

grid_model = GridSearchCV(estimator = model, param_grid = parameters)

grid = grid_model.fit(X_train_scaled,y_train)
print("Bests parameters :", grid_model.best_params_)

Bests parameters : {'C': 10, 'gamma': 0.1, 'kernel': 'rbf'}

In [53]:
# Modelisation with bests parameters

model = SVC( C = 10, gamma = 0.1, kernel = 'rbf')
model.fit(X_train_scaled,y_train)
y_pred = model.predict(X_test_scaled)

In [54]:
# Results
print("Score train :" , model.score(X_train_scaled, y_train))
print("Score test :" , model.score(X_test_scaled, y_test))

# Confusion matrix
pd.crosstab(y_test, y_pred, rownames=['Reality'], colnames=['Prediction'])

Score train : 1.0
Score test : 0.9722222222222222

Prediction   1   2   3
Reality
1           11   0   0
2            0  12   0
3            0   1  12